<template>
  <div class="app-container">
    <el-button
      v-if="user.account === 'admin'"
      type="success"
      icon="el-icon-plus"
      size="mini"
      @click="$router.push('/add')">
      Add
    </el-button>
    <el-table
      v-loading="listLoading"
      :data="userList"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      style="margin-top: 10px;"
    >
      <el-table-column align="center" label="ID" width="95">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="Account" align="center">
        <template slot-scope="scope">
          {{ scope.row.account }}
        </template>
      </el-table-column>
      <el-table-column label="Name" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="Status" width="150" align="center">
        <template slot-scope="scope">
          <el-tag :type="scope.row.active | statusFilter">{{ statusText[scope.row.active] }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Created_time">
        <template slot-scope="scope">
          <i class="el-icon-time" style="margin-right: 5px;"/>
          <span>{{ scope.row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Function" align="center" width="200">
        <template slot-scope="scope">
          <el-row>
            <el-button
              v-if="scope.row.id === user.id"
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="editUser(scope.$index)">Edit</el-button>
            <el-button
              v-if="scope.row.account !== 'admin' && user.account === 'admin'"
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="deleteUser(scope.row.account, scope.$index)">
              Delete
            </el-button>
          </el-row>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="Edit"
      :visible.sync="showDialog"
      width="30%">
      <el-input
        ref="username"
        v-model="editInfo.name"
        placeholder="Username"
        name="username"
        type="text"
        tabindex="1"
        auto-complete="on"
        style="margin-bottom: 10px;"/>
      <el-row>
        <el-button
          type="success"
          size="mini"
          plain
          @click="editInfo.active = 1">
          啟用
        </el-button>
        <el-button
          type="danger"
          size="mini"
          plain
          @click="editInfo.active = 2">
          停用
        </el-button>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDialog = false">Cancel</el-button>
        <el-button type="primary" @click="submit()">Submit</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        1: 'success',
        2: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      list: null,
      listLoading: true,
      statusText: {
        1: '啟用',
        2: '停用'
      },
      tempIndex: null,
      showDialog: false,
      editInfo: {
        name: '',
        active: 1
      }
    }
  },
  computed: {
    userList() {
      return this.$store.state.user.userList
    },
    user() {
      return this.$store.state.user.userInfo
    }
  },
  async mounted() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      this.listLoading = true
      await this.$store.dispatch('user/getUserList')
      this.listLoading = false
    },
    editUser(index) {
      const data = this.userList[index]
      this.editInfo = {
        name: data.name,
        active: data.active
      }
      this.showDialog = true
    },
    deleteUser(account, index) {
      this.$store.dispatch('user/deleteUser', { account, index })
    },
    submit() {
      this.$store.dispatch('user/editUser', this.editInfo)
    }
  }
}
</script>

<style lang="scss" scoped>
.el-button+.el-button {
  margin-left: 5px;
}
</style>
